.button {
  width: 5.625rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  border: none;
}

.button:hover {
  background-color: var(--blue);
}