
.taskCard {
  width: 46rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--gray-500);
  color: var(--gray-100);
  border-radius: 8px;
  gap: 12px;
  padding: 16px;
  font-size: 14px;
}

.delete {
  height: 24px;
  cursor: pointer;
  color: var(--gray-300);
  padding: 5px;
}

.delete:hover {
  background-color: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
}

.taskCard span {
  width: 39.5rem;
  height: 2.5rem;
}